.modal-container {
    position: absolute;
    bottom: 18px;
    background-color: #fff;
    padding: 14px;
    border-radius: 3px;
    width: 700px;
    display: flex;
    flex-direction: column;
    animation: slideY 1.5s;
}

@keyframes slideY {
    from{
        transform: translatey(90px)
    } 
    to{
        transform: translateY(0px)
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header button {
    background: transparent;
    border: none;
    transition: transform 1.5s;
}
.modal-header button:hover{
    color:red;
    transform:scale(1.15)
}

.modal-container span{
    margin: 25px 0;
    color: gray;
    overflow-y: hidden;
}

.modal-link{
    display: flex;
    background-color:#172742;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
    height: 38px;
    font-size: 20px;
    color: #fff;
    transition: transform 0.8s;
}
.modal-link:hover{
    transform: scale(1.03);
}

@media (max-width: 735px) {
    .modal-container{
        width: 80%;
    }
}